<% layout('./layout') -%>
<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
<% } else { %>
	<form id="mainForm">
        <div class="row">
            <label for="url">URL where to start the crawl:</label>
            <input type="text" id="url" required>
        </div>
        <div class="row">
            <label for="storage">Storage:</label>
            <select id="storage" >
                <option value="ADD">Add new storage...</option>
            </select>
        </div>

        <div class="row">
            <label for="bucketStrategy">Bucket strategy:</label>
            <select id="bucketStrategy" required>
                <option value="APPEND">Add to existing files (do not delete)</option>
                <option value="REPLACE">Replace all files in bucket</option>
            </select>
        </div>
        <div class="buttons cf">
            <input id="stopButton" type="button" value="Stop"/>
            <input id="startButton" type="submit" value="Start"/>
        </div>
    </form>
    <% include feedback %>
    <div id="output"></div>
    <div class="storagePanel">
        <% include s3bucket %>
    </div>
<% } %>