<% layout('layout') -%>
<form action="/login" method="post" id="mainForm">
	<div class="row">
        <label>Username:</label>
        <input type="text" name="username"/><br/>
	</div>
	<div class="row">
        <label>Password:</label>
        <input type="password" name="password"/>
	</div>
	<div class="buttons cf">
	    <input type="submit" value="Submit"/>
	</div>
</form>
