form {
  margin: 0 auto;
  width: 790px;
  font-size: 20px;
  margin-top: 20px;
}
input[type=text],
input[type=password],
select {
  height: 30px;
  width: 790px;
  font-size: 20px;
}
select {
  height: 50px;
  padding: 8px;
}
.row {
  margin-top: 10px;
}
.buttons input {    
    display: block;
    font-size: 20px;
    width: 300px;
    margin: 20px auto;
}
#stopButton {
  display: none;
}
#feedback {
  position: absolute;
  top:0;
}
.orig-url {
    margin-left: 20px;
}
.menu {
    float:right;
}
.storagePanel {
    background: #eee;
    padding: 10px;
    position: fixed;
    width: 920px;
    top: 10px;
    left: 50%;
    margin-left: -460px; /* Half of the width */
    display: none;
}
.storagePanel button {
    float:right;
    height: 35px;
    font-size: 20px;
    margin: 20px 10px;
}
